@import '~bootstrap/dist/css/bootstrap.min.css';

body {
    margin: 0;
    overflow: hidden;
}

.water-circle {
    width: 100px;
    height: 100px;
    background: url('../assets/img/watteflow.png') no-repeat center center;
    background-size: cover;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: floatWater 2s ease-in-out infinite;
}

.encendido {
    background-color: green;
    color: white;
  }
  
.apagado {
    background-color: red;
    color: white;
}

@keyframes floatWater {
    0%, 100% {
        transform: translate(-50%, -50%) translateY(0);
    }
    50% {
        transform: translate(-50%, -50%) translateY(-20px);
    }
}
